venv/
.pylintrc
__pycache__/
.vscode
.idea
db.sqlite3
.env
applications/migrations/*
main/migrations/*
metro/migrations/*
passengers/migrations/*
personal/migrations/*
users/migrations/*
examples/
.gitingnore