{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="min-height: 80vh">
    <div class="row">
        <!-- Column for "Добавить пассажира" and "Пассажиры" table -->
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h2 class="card-title">Добавить обучение</h2>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPassengerModal">Добавить</button>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">Обучения</h2>
                    <div style="max-height: 400px; overflow-y: auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Название </th>
                                    <th>Организация</th>
                                </tr>
                            </thead>
                            <tbody id="passengersTableBody">
                                {% for passenger in passengers_list %}
                                <tr>
                                    <td>{{ passenger.id_pas }}</td>
                                    <td>{{ passenger.fio_p }}</td>
                                    <td>{{ passenger.tep_p }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для формы "Добавить пассажира" -->
<div class="modal fade" id="addPassengerModal" tabindex="-1" aria-labelledby="addPassengerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPassengerModalLabel">Добавить обучение</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="passengerForm" method="post">
                    {% csrf_token %} {{ form.as_p }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Успешно</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Обучение было успешно добавлено.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Подключаем локальный файл jQuery -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#passengerForm').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '',
                data: $(this).serialize(),
                success: function (response) {
                    $('#addPassengerModal').modal('hide');
                    $('#successModal').modal('show');
                    // Добавляем нового пассажира в таблицу
                    const newRow = `
                        <tr>
                            <td>${response.id_pas}</td>
                            <td>${response.fio_p}</td>
                            <td>${response.tep_p}</td>
                    `;
                    $('#passengersTableBody').append(newRow);
                },
                error: function (response) {
                    alert('Ошибка при добавлении пассажира.');
                }
            });
        });
    });
</script>
{% endblock content %}
