{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid" style="min-height: 80vh">
    <div class="row">
        <!-- Column for "Добавить сотрудника" and "Сотрудники" table -->
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h2 class="card-title">Добавить сотрудника</h2>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPersonalModal">Добавить сотрудника</button>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">Сотрудники</h2>
                    <div class="table-responsive" style="max-height: 400px; overflow-y: auto">
                        <table class="table table-striped" id="personal-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>ФИО</th>
                                    <th>Участок работы</th>
                                    <th>Пол</th>
                                    <th>Время работы</th>
                                    <th>Должность</th>
                                    <th>Дата</th>
                                    <th>Табельный номер</th>
                                    <th>Описание</th>
                                    <th>Рабочий телефон</th>
                                    <th>Личный телефон</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for personal in personal_list %}
                                <tr>
                                    <td>{{ personal.ID }}</td>
                                    <td>{{ personal.FIO }}</td>
                                    <td>{{ personal.UCHASTOK }}</td>
                                    <td>{{ personal.SEX }}</td>
                                    <td>{{ personal.TIME_WORK }}</td>
                                    <td>{{ personal.RANK }}</td>
                                    <td>{{ personal.DATE }}</td>
                                    <td>{{ personal.t_n }}</td>
                                    <td>{{ personal.description }}</td>
                                    <td>{{ personal.t_tel }}</td>
                                    <td>{{ personal.r_tel }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column for "Добавить смену" and "Смены" table -->
        {% comment %} <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h2 class="card-title">Добавить смену</h2>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addShiftModal">Добавить смену</button>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">Смены</h2>
                    <div class="table-responsive" style="max-height: 400px; overflow-y: auto">
                        <table class="table table-striped" id="shift-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>ID Сотрудника</th>
                                    <th>Смена</th>
                                    <th>Дата выхода</th>
                                    <th>Время работы</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for shift in shift_list %}
                                <tr>
                                    <td>{{ shift.id_SMENA }}</td>
                                    <td>{{ shift.id_insp.ID }}</td>
                                    <td>{{ shift.SMENA }}</td>
                                    <td>{{ shift.date }}</td>
                                    <td>{{ shift.time_work_begin }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</div>

<!-- Модальное окно для формы "Добавить сотрудника" -->
<div class="modal fade" id="addPersonalModal" tabindex="-1" aria-labelledby="addPersonalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPersonalModalLabel">Добавить сотрудника</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="personalForm" method="post">
                    {% csrf_token %} {{ personal_form.as_p }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Сохранить сотрудника</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для формы "Добавить смену" -->
<div class="modal fade" id="addShiftModal" tabindex="-1" aria-labelledby="addShiftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addShiftModalLabel">Добавить смену</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="shiftForm" method="post">
                    {% csrf_token %} {{ shift_form.as_p }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Сохранить смену</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Успешно</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Данные были успешно сохранены.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Подключаем локальный файл jQuery -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $("#personalForm").on("submit", function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "",
                data: $(this).serialize() + "&personal_form=1",
                success: function (response) {
                    $("#addPersonalModal").modal("hide");
                    $("#successModal").modal("show");

                    // Обновление таблицы сотрудников
                    updatePersonalTable();
                },
                error: function (response) {
                    let errorMessage = "Ошибка при добавлении сотрудника.\n";
                    if (response.responseJSON && response.responseJSON.errors) {
                        $.each(response.responseJSON.errors, function (field, errors) {
                            errorMessage += `${field}: ${errors.join(", ")}\n`;
                        });
                    }
                    alert(errorMessage);
                },
            });
        });

        $("#shiftForm").on("submit", function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "",
                data: $(this).serialize() + "&shift_form=1",
                success: function (response) {
                    $("#addShiftModal").modal("hide");
                    $("#successModal").modal("show");

                    // Обновление таблицы смен
                    updateShiftTable();
                },
                error: function (response) {
                    let errorMessage = "Ошибка при добавлении смены.\n";
                    if (response.responseJSON && response.responseJSON.errors) {
                        $.each(response.responseJSON.errors, function (field, errors) {
                            errorMessage += `${field}: ${errors.join(", ")}\n`;
                        });
                    }
                    alert(errorMessage);
                },
            });
        });

        function updatePersonalTable() {
            $.ajax({
                url: "{% url 'personal:personal_list' %}", // Убедитесь, что у вас есть такой URL
                type: "GET",
                success: function (data) {
                    var personalTableBody = $("#personal-table tbody");
                    personalTableBody.empty();
                    data.forEach(function (personal) {
                        personalTableBody.append(`
                            <tr>
                                <td>${personal.ID}</td>
                                <td>${personal.FIO}</td>
                                <td>${personal.UCHASTOK}</td>
                                <td>${personal.SEX}</td>
                                <td>${personal.TIME_WORK}</td>
                                <td>${personal.SMENA}</td>
                                <td>${personal.RANK}</td>
                                <td>${personal.DATE}</td>
                                <td>${personal.t_n}</td>
                                <td>${personal.description}</td>
                                <td>${personal.t_tel}</td>
                                <td>${personal.r_tel}</td>
                                <td>${personal.zdo}</td>
                            </tr>
                        `);
                    });
                },
                error: function () {
                    alert("Ошибка при обновлении таблицы сотрудников.");
                },
            });
        }

        function updateShiftTable() {
            $.ajax({
                url: "{% url 'personal:shift_list' %}", // Убедитесь, что у вас есть такой URL
                type: "GET",
                success: function (data) {
                    var shiftTableBody = $("#shift-table tbody");
                    shiftTableBody.empty();
                    data.forEach(function (shift) {
                        shiftTableBody.append(`
                            <tr>
                                <td>${shift.id_SMENA}</td>
                                <td>${shift.id_insp}</td>
                                <td>${shift.SMENA}</td>
                                <td>${shift.date}</td>
                                <td>${shift.time_work_begin}</td>
                            </tr>
                        `);
                    });
                },
                error: function () {
                    alert("Ошибка при обновлении таблицы смен.");
                },
            });
        }

        const timeWorkChoices = {
            "ЦУ-1": ["7:00 - 19:00", "8:00 - 20:00"],
            "ЦУ-2": ["7:00 - 19:00", "8:00 - 20:00"],
            "ЦУ-3": ["7:00 - 19:00", "8:00 - 20:00", "10:00 - 22:00"],
            "ЦУ-3(Н)": ["20:00 - 8:00"],
            "ЦУ-4": ["7:00 - 19:00", "8:00 - 20:00", "10:00 - 22:00"],
            "ЦУ-4(Н)": ["20:00 - 8:00"],
            "ЦУ-5": ["7:00 - 19:00", "8:00 - 20:00", "10:00 - 22:00"],
            "ЦУ-8": ["7:00 - 19:00", "8:00 - 20:00"],
        };

        $("#uchastok-select").change(function () {
            const uchastok = $(this).val();
            const timeWorkSelect = $("#time-work-select");
            timeWorkSelect.empty();

            if (uchastok in timeWorkChoices) {
                timeWorkChoices[uchastok].forEach(function (timeRange) {
                    timeWorkSelect.append(new Option(timeRange, timeRange));
                });
            }
        });

        $("#uchastok-select").trigger("change");
    });
</script>
{% endblock content %}
