{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'base/css/base.css' %}" />
        <link rel="stylesheet" href="{% static 'base/css/styles.css' %}" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand text-green" href="{% url 'main:index' %}">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'user:login' %}">Войти</a>
                            </li>
                            {% else %} {% if user_role == 'admin' or user_role == 'operator' or user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link text-white" aria-current="page" href="{% url 'passengers:passengers' %}">Обучения</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" aria-current="page" href="{% url 'personal:personal' %}">Сотрудники</a>
                            </li>

                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link text-white" aria-current="page" href="{% url 'applications:applications' %}">Заявки</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Мой профиль </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item text-black" href="{% url 'user:profile' %}">Личный кабинет</a>
                                    </li>
                                    {% if user.is_admin or user.is_superuser %}
                                    <li>
                                        <a class="dropdown-item text-black" href="{% url 'admin:index' %}">Админ панель</a>
                                    </li>
                                    {% endif %}
                                    <li><hr class="dropdown-divider" /></li>
                                    <li>
                                        <a class="dropdown-item text-black" href="{% url 'user:logout' %}">Выйти</a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                            <button class="btn btn-outline-success" type="submit">
                                <img src="{% static 'main/icons/search.svg' %}" alt="S" />
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>

        <section class="container-fluid">{% include 'includes/notifications.html' %} {% block content %}{% endblock content %}</section>

        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
