{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_authenticated %}
<h1>Активные обучения</h1>

<div class="table-responsive" style="max-height: 400px; overflow-y: auto">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Номер</th>
                <th>ID сотрудника</th>
                <th>ID обчуения</th>
            </tr>
        </thead>
        <tbody>
            {% for num, id_person, id_applic in result %}
            <tr>
                <td>{{ num }}</td>
                <td>{{ id_person }}</td>
                <td>{{ id_applic }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %} {% if user_role == 'admin' or user_role == 'operator' or user.is_superuser %}
<!-- Кнопка для выполнения действия -->
<button id="actionButton" type="button" class="btn btn-dark">Распределить</button>
<!-- Элемент для отображения сообщения -->
<div id="message" class="mt-3" style="display: none">Выполнено</div>
{% endif %}
<!-- Элементы для отображения результатов -->
<p id="distance"></p>
<p id="shortest_path"></p>
<!-- Подключаем локальный файл jQuery -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
{% if user_role == 'admin' or user_role == 'operator' or user.is_superuser %}
<script>
    // нажатие кнопки
    document.getElementById("actionButton").addEventListener("click", function () {
        $.ajax({
            url: "{% url 'main:distribute_tasks' %}",
            type: "GET",
            success: function (data) {
                document.getElementById("message").style.display = "block";
                $("#distance").text("distance: " + data.distance);
                $("#shortest_path").text("shortest_path: " + data.shortest_path);
            },
            error: function () {
                alert("Ошибка при распределении задач.");
            },
        });
    });
</script>
{% endif %} {% endblock content %}
