.body {
	margin: 0;
	padding: 0;
}

.text-green {
	color: #198754; /* Это цвет из класса .btn-outline-success при наведении */
}

.fullpage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(13, 1fr);
    height: 100vh;
    background-color: antiquewhite;
}

.fullpage>header {
    grid-column: 1/13;
}